*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  70% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  70% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
  /* These are going to be block-level elements, which: 1) occupy all the space available and 2) create line breaks before and after */ }
  .heading-primary--main {
    display: block;
    font-size: 61px;
    font-weight: 400;
    letter-spacing: 25px;
    animation: moveInLeft 1500ms ease-out;
    /* 
        animation-name: moveInLeft;
        animation-duration: 1500ms;
        animation-timing-function: ease-out; 
        animation-iteration-count: 2;
        animation-delay: 3000ms; 
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 25px;
    animation: moveInRight 1500ms ease-out;
    /* animation-name: moveInRight;
        animation-duration: 1500ms;
        animation-timing-function: ease-out; */ }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #f781c8, #ab0078ce);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .6s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(-1deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 11rem !important; }

/* pseudo-classes: see in mdn how they work! */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  /* 2 params==top+bottom & left+right*/
  display: inline-block;
  border-radius: 150px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(89, 3, 60, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.7);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(89, 3, 60, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #7ed56f;
  color: #777; }
  .btn--green::after {
    background-color: rgba(40, 180, 133, 0.5); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.btn--animated {
  animation: moveInBottom 1500ms ease-out 500ms;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ab0078ce;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ab0078ce;
  padding: 3px;
  transition: all .35s; }

.btn-text:hover {
  background-color: #f781c8;
  color: #fff;
  box-shadow: 0 1rem 2.2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-1px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2 px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 1rem;
      top: -3rem; }
    .composition__photo--p2 {
      right: 1rem;
      top: 2rem; }
    .composition__photo--p3 {
      right: 15%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1rem solid #f781c8;
      transform: scale(1.15) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20;
      transition: all .2s; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .6s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #f781c8, #ab0078ce);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.6rem) scale(1.1);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5); }

.card {
  perspective: 130rem;
  -moz-perspective: 130rem;
  position: relative;
  height: 53rem; }
  .card__side {
    font-size: 2rem;
    height: 53rem;
    transition: all 0.9s ease;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 3rem rgba(89, 3, 60, 0.5); }
    .card__side--front {
      background-image: linear-gradient(to top right, #f6b1dc37, #fff); }
      .card__side--front-1 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.2), rgba(86, 67, 250, 0.2)); }
      .card__side--front-2 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.2), rgba(255, 119, 48, 0.2)); }
      .card__side--front-3 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.2), rgba(40, 180, 133, 0.2)); }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.2), rgba(86, 67, 250, 0.2)), url("../../img/rocks.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.2), rgba(255, 119, 48, 0.2)), url("../../img/wine.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.2), rgba(40, 180, 133, 0.2)), url("../../img/riding.jpg"); }
  .card__heading {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 50%; }
  .card__heading--span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span-1 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.2), rgba(86, 67, 250, 0.2)); }
    .card__heading--span-2 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.2), rgba(255, 119, 48, 0.2)); }
    .card__heading--span-3 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.2), rgba(40, 180, 133, 0.2)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 70%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid rgba(255, 119, 48, 0.2); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 200; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(247, 129, 200, 0.39), rgba(171, 0, 120, 0.272)), url(../img/fenicotteri.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo {
    height: 10rem;
    border-radius: 50%;
    opacity: .4; }
  .header__logo-box {
    /* starting point is the parent element (.header) */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /*
    to remove the margin in the last row element we can select it w/ the pseudo-class :last-child
    &:last-child {
        margin-bottom: 0rem;
    }
    another powerful method is to select the :not(:last-child) pseudoclass (selects ALL rows EXCEPT the last one)
    */ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }

.section-about {
  background-color: #f6b1dc37;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(247, 129, 200, 0.4), rgba(171, 0, 120, 0.3)), url(../../img/vista_stagno.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  transform: skewY(-7deg) translateY(-10rem); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f6b1dc37;
  padding: 25rem 0 15rem 0;
  margin-top: -20rem; }
