.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.39),
      rgba($color-primary-dark, 0.272)
    ),
    url(../img/fenicotteri.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: $header-clip-path;
  clip-path: $header-clip-path;

  &__logo {
    height: 10rem;
    border-radius: 50%;
    opacity: .4;
    
  }

  &__logo-box {
    /* starting point is the parent element (.header) */
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}